.edit-site-new-template-dropdown {
	.components-dropdown-menu__toggle {
		padding: 6px 12px;
	}

	.edit-site-new-template-dropdown__popover {
		@include break-small() {
			min-width: 300px;
		}
	}
}

.edit-site-components-add-custom-template{
	> div {
		text-align: center;
		cursor: pointer;
		padding: $grid-unit-30;
		border: 1px solid $gray-300;
		border-radius: $radius-block-ui;
		width: 256px;
		display: flex;
		flex-direction: column;
		gap: $grid-unit;
		align-items: center;
		justify-content: center;

		span {
			color: $gray-700;
		}

		&:hover {
			border-color: var(--wp-admin-theme-color);

			h5 {
				color: var(--wp-admin-theme-color);
			}
		}

		&:focus {
			box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
		}
	}
}

.edit-site-block-types-item-list {
	.template-suggestion-item{
		display: block;
		width: 100%;
		text-align: left;
	}
}
