.edit-site-new-template-dropdown {
	.components-dropdown-menu__toggle {
		padding: 6px 12px;
	}

	.edit-site-new-template-dropdown__popover {
		@include break-small() {
			min-width: 300px;
		}
	}
}

.edit-site-components-add-custom-template{
	> div {
		text-align: center;
		cursor: pointer;
		padding: 15px 20px;
		border: 1px solid $gray-300;

		.template-type-label {
			font-weight: 600;
		}
	}
}

.edit-site-block-types-item-list {
	.template-suggestion-item{
		display: block;
		width: 100%;
		text-align: left;
	}
}
